.sign {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 358px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px;
}
.span {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;

  margin-bottom: 20px;
}
.signUp {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}
.button {
  margin-top: 20px;
}
.buttons {
}
.button1 {
}
