.sign {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 358px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  box-sizing: border-box;
  background-color: white;

  border-radius: 4px;
}
.span {
  display: flex;

  margin-top: 30px;
  align-items: center;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  margin-bottom: 20px;
}
.signUp {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}
.button {
  margin-top: 10px;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #000000;
}
.button2 {
  margin-left: 57px;
}
