.wrapper {
  background-image: url("./images.jpg");
  background-size: cover;
  background-position: bottom;

  height: 702px;

  @media screen and (max-width: 390px) {
    height: 460px;
  }
}
.container {
  padding-left: 36.8%;
  padding-top: 12%;
  overflow: hidden;
  @media screen and (max-width: 850px) {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
