.radius {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 1px;
}
.rating {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 48px;
}
.radiuses {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  margin-right: 5px;
  margin-bottom: 1px;
}
.radiusX {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  margin-right: 5px;
  margin-bottom: 1px;
}
.radiusY {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
  margin-right: 5px;
  margin-bottom: 1px;
}
.graph {
  display: flex;
}
.flex {
  display: flex;
  align-items: center;
}
.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: rgba(31, 32, 65, 0.75);
}
