@import "../../styles/function.scss";

.book {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 380px;
  height: 512px;
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 30px;
}
.title {
  font-weight: 700;
  font-size: rem(24);
  line-height: rem(17);
  color: #1f2041;
  margin-top: 4px;
  margin-left: -6px;
}
.title1 {
  font-weight: 700;
  font-size: 12px;
  line-height: rem(15);
  text-transform: uppercase;
  color: #bc9cff;
  margin-top: 10px;
  margin-left: -3px;
}
.title2 {
  font-size: rem(14);
  color: rgba(31, 32, 65, 0.5);
  display: flex;
  column-gap: 2px;
  margin-top: 9px;

  margin-right: 4px;
}
.title3 {
  display: flex;
  column-gap: 10px;
}
.title4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 368px) {
    justify-content: unset;
    column-gap: 100px;
  }
  @media screen and (max-width: 346px) {
    justify-content: unset;
    column-gap: 50px;
  }
}
.part2 {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-top: 40px;
  @media screen and (max-width: 368px) {
    column-gap: 7px;
  }
}
.down {
  padding-top: 20px;
  position: relative;
}
.part3 {
  font-weight: 700;
  font-size: rem(12);
  line-height: rem(15);
  text-transform: uppercase;
  padding-bottom: 8px;
  color: #1f2041;
  margin-left: -2px;
}
.part4 {
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(24);
  color: rgba(31, 32, 65, 0.75);
  padding-bottom: 10px;
  justify-content: space-between;

  margin-top: -1px;
  margin-left: -1px;
}
.part5 {
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(24);
  color: rgba(31, 32, 65, 0.75);
  white-space: nowrap;
  margin-top: 2px;
}
.part6 {
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(24);
  text-align: right;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 42px;
  margin-top: 2px;

  @media screen and (max-width: 368px) {
    margin-left: 20px;
  }
}
.middle {
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(24);
  color: rgba(31, 32, 65, 0.75);

  justify-content: space-between;
  white-space: nowrap;
}
.icon {
  display: flex;
  column-gap: 5px;
}
.icon1 {
  display: flex;
  padding-bottom: 10px;
}

.icon2 {
  display: flex;
}
.parted {
  font-weight: 100;
  font-size: rem(14);
  color: rgba(31, 32, 65, 0.75);
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 368px) {
    justify-content: unset;
    column-gap: 57px;
  }
}
.icon3 {
  display: flex;
}
.icons {
  width: 21px;

  margin-left: 33px;
  @media screen and (max-width: 330px) {
    margin-left: 10px;
  }
}
.parts {
  font-weight: 700;
  font-size: rem(19);
  color: #1f2041;
}
.parte {
  font-weight: 700;
  font-size: rem(19);

  color: #1f2041;
}
.book1 {
  border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
  width: 181px;
  margin-bottom: 4px;
  @media screen and (max-width: 440px) {
    width: 120px;
  }
}
.book2 {
  display: flex;
  padding-top: 30px;
}
.button {
  padding-top: 20px;
  padding-bottom: 30px;
}
.text {
  margin-top: -18px;
  font-weight: 700;
  font-size: rem(12);
  line-height: rem(15);
  margin-bottom: 5px;
  text-transform: uppercase;
  margin-left: -2px;
  color: #1f2041;
}
.drop {
  position: absolute;
  top: 42px;
  width: 320px;
  @media screen and (max-width: 368px) {
    width: 303px;
  }
}
.booking1 {
  padding-top: 61px;
}
.texts {
  font-size: rem(12);
  font-weight: 400;

  font-size: rem(12);

  color: rgba(31, 32, 65, 0.75);

  margin-top: 10px;
}
.parti {
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(24);
  color: rgba(31, 32, 65, 0.75);

  margin-top: -1px;
}
.partes {
  font-weight: 400;
  font-size: rem(14);

  color: rgba(31, 32, 65, 0.75);
  justify-content: space-between;
  margin-left: 1px;
  margin-top: 2px;
}
.part8 {
  font-weight: 400;
  font-size: rem(14);
  margin-top: -3px;
  color: rgba(31, 32, 65, 0.75);
}
.span {
  font-size: rem(14);
  font-weight: 700;
  margin-left: -1px;
  line-height: rem(17);

  color: #1f2041;
  margin-top: 8px;
}
.app {
  margin-left: 59px;
  @media screen and (max-width: 368px) {
    margin-left: 20px;
  }
}
.bookek {
  display: flex;
  justify-content: space-between;
}
