.comfort {
  display: flex;
  width: 260px;
  margin-left: 3px;
  margin-top: 20px;
}
.title1 {
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
  margin-top: -5px;
  margin-left: 15px;
  font-weight: 700;
}
.title2 {
  margin-top: 8px;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);

  margin-top: 6px;

  font-weight: 400;
  margin-left: 14px;
}
