.comfort {
  display: flex;
  width: 260px;
  margin-left: 3px;
}
.title1 {
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);

  margin-left: 17px;
  font-weight: 700;
}
.title2 {
  margin-top: 8px;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);

  font-weight: 400;
  margin-left: 17px;
}
