.slider {
  width: 270px;
  height: 257px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}
.title {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 16px;
  padding-top: 20px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  padding-bottom: 12px;
}
.title1 {
  font-weight: 700;
  font-size: 20px;

  margin-left: 4px;
  color: #1f2041;
}
.title2 {
  font-weight: 700;
  font-size: 12px;
  margin-top: 4px;
  text-transform: uppercase;
  color: #bc9cff;
  padding-top: 4px;
  margin-left: 6px;
}
.title3 {
  font-weight: 700;
  font-size: 14px;
  margin-top: 5px;
  margin-right: 2px;
  color: rgba(31, 32, 65, 0.5);
}
.title4 {
  display: flex;
}
.span1 {
  display: flex;
}
.span {
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
  white-space: nowrap;
  margin-left: 3px;
  color: rgba(31, 32, 65, 0.75);
}
.rate {
  margin-left: 19px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -10px;
}
.text {
  font-size: 14px;

  margin-right: 5px;
  color: rgba(31, 32, 65, 0.5);
}
.span1 {
  font-weight: 400;
  font-size: 14px;

  color: rgba(31, 32, 65, 0.75);
}
.rate1 {
  position: absolute;
  bottom: 0px;
}
.text2 {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 20px;
}
.texts {
  font-weight: 700;
  font-size: 13px;
  margin-top: 5px;
  color: #1f2041;
}
.img {
  display: block;
  width: 266px;
  cursor: pointer;
}
