.bullet {
}
.ul {
  color: rgba(31, 32, 65, 0.25);
}

.li {
  width: 280px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-size: 17px;
  text-decoration: none;
  list-style: none;
  position: relative;
  color: rgba(31, 32, 65, 0.75);
}
.li:before {
  content: "";
  background-image: url("./Ellipse.svg");
  position: absolute;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  left: -20px;
  top: 5px;
}
