.input {
  position: absolute;
  opacity: 0;
  display: none;
}
.stars {
  position: relative;
}

.label {
  display: inline-block;

  height: 24px;
  width: 24px;
  background: url("./star_border.svg");
  font-size: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}

.input:nth-child(1):checked ~ .label:nth-of-type(-n + 1),
.input:nth-child(2):checked ~ .label:nth-of-type(-n + 2),
.input:nth-child(3):checked ~ .label:nth-of-type(-n + 3),
.input:nth-child(4):checked ~ .label:nth-of-type(-n + 4),
.input:nth-child(5):checked ~ .label:nth-of-type(-n + 5) {
  background: url("./star.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
