@import "../../styles/function.scss";

.text {
  width: 260px;
  font-weight: 400;
  font-size: rem(14);
  margin-top: 19px;
  color: rgba(31, 32, 65, 0.75);
  line-height: rem(24);
}
.foot {
  display: flex;

  flex-direction: column;
  color: rgba(31, 32, 65, 0.5);
  font-size: rem(14);

  font-weight: 400;
}
.footer {
  display: flex;
}
.logo {
  width: 75px;
}
.text1 {
}
.text2 {
  font-weight: 700;
  font-size: rem(12);

  margin-left: 57px;

  @media screen and (max-width: 1070px) {
    margin-left: 0;
  }
}
.title {
  font-weight: 700;
  text-transform: uppercase;
  color: #1f2041;
  font-size: rem(12);
  margin-top: 5px;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-left: 9.7%;

  @media screen and (max-width: 1200px) {
    padding-left: 3%;
  }
}
.title2 {
  width: 260px;
  font-weight: 400;
  font-size: rem(14);

  margin-top: 19px;
  line-height: rem(24);
  color: rgba(31, 32, 65, 0.75);
}

.wrapper {
  background: #ffffff;

  flex: 0 0 auto;

  @media screen and (max-width: 970px) {
    display: none;
  }
}
.border {
  border-top: 1px solid rgba(31, 32, 65, 0.25);
}
.textY {
}
.dt {
  margin-top: 21px;
}
.dt1 {
  margin-top: 21px;
}
.dt2 {
  margin-top: 19px;
}
.dt3 {
  margin-top: 20px;
}
.dt4 {
  margin-top: 22px;
}
.dt5 {
  margin-top: 20px;
}
.dt6 {
  margin-top: 20px;
}
.dt7 {
  margin-top: 20px;
}
.dt8 {
  margin-top: 21px;
}
.dt9 {
  margin-top: 21px;
}
.dt10 {
  margin-top: 20px;
}
.titleX {
  margin: 0;
  padding: 0;

  font-weight: 700;
  text-transform: uppercase;
  color: #1f2041;
  margin-top: 5px;
}
.titleB {
  margin: 0;
  padding: 0;

  font-weight: 700;
  text-transform: uppercase;
  color: #1f2041;
  font-size: rem(12);
  margin-top: 5px;
}
.titleD {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1f2041;
  font-size: rem(12);
}
.foot1 {
  display: flex;

  flex-direction: column;
  color: rgba(31, 32, 65, 0.5);
  font-size: rem(14);
  margin-top: -1px;
  font-weight: 400;
}
.foot2 {
  display: flex;
  flex-direction: column;
  color: rgba(31, 32, 65, 0.5);
  font-size: 14px;

  font-weight: 400;
}
.text3 {
  margin-left: 93px;

  @media screen and (max-width: 1070px) {
    margin-left: 20px;
  }
}
.texts {
  display: flex;
  margin-left: 40px;
  margin-bottom: 99px;
}
.title1 {
  margin-left: 30px;

  @media screen and (max-width: 1070px) {
    margin-left: 0;
  }
}
.text4 {
  margin-left: 22px;
}
.input {
  margin-left: 30px;
  margin-top: 24px;
}
.title3 {
}
.bottom {
  display: flex;
  padding-top: 26px;
  border-top: 1px solid #e5e5e5;

  padding-left: 140px;
  padding-right: 140px;
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  justify-content: space-between;
}
.social {
}
