.like {
  color: rgba(31, 32, 65, 0.25);
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 39.72px;
  height: 21px;
  border-radius: 10px;
  display: flex;
  margin-left: 1px;
  box-sizing: border-box;
}
.icon {
  display: block;
  margin-top: 5px;
  size: 10px;
  line-height: 9px;
  margin-left: 5px;
}
.isClick {
  border: 1px solid #bc9cff;
}
.number {
  margin-left: 5px;
  font-size: 10px;
  width: 9.93px;
  height: 13px;
  margin-top: 3px;
}
