@import "../../styles/function.scss";
.image1 {
  background-image: url("./images.jpg");
  width: 981px;
  height: 485px;
}
.image2 {
  background-image: url("./image1.jpg");
  width: 461px;
  height: 243px;
}
.image3 {
  background-image: url("./image 3.jpg");
  width: 461px;
  height: 243px;
}
.images {
  display: flex;
}
.imageses {
}

.title {
  font-weight: 700;
  font-size: rem(19);
  line-height: rem(23);
  margin-top: 0px;
  color: #1f2041;
  margin-bottom: 10px;
  @media screen and (max-width: 750px) {
    padding-top: 15px;
  }
}
.comfort {
}
.title1 {
  font-weight: 700;
  font-size: rem(19);
  line-height: rem(23);

  color: #1f2041;
  margin-left: 11px;
  @media screen and (max-width: 750px) {
    padding-top: 15px;
  }
}
.content {
  display: flex;
  padding-top: 70px;
  @media screen and (max-width: 750px) {
    display: unset;
  }
}
.graph {
  margin-left: 81px;
  margin-right: 108px;

  @media screen and (max-width: 820px) {
    margin-left: 50px;
  }

  @media screen and (max-width: 785px) {
    margin-left: 20px;
  }
}
.text {
  font-weight: 700;
  font-size: rem(19);
  line-height: rem(23);
  margin-left: -2px;
  color: #1f2041;
  margin-top: 35px;
  margin-bottom: 23px;
}
.text3 {
  display: flex;

  width: 750px;
  align-items: baseline;
  margin-top: -6px;
}
.text1 {
  font-weight: 400;
  font-size: rem(14);
  padding-right: 40px;

  margin-left: 348px;
  color: rgba(31, 32, 65, 0.5);
  margin-top: 42.9px;
}
.li {
  font-weight: 700;
  font-size: rem(19);
  line-height: rem(23);
  margin-bottom: 19px;
  color: #1f2041;
  margin-top: 32px;
  margin-left: 20px;
}
.text5 {
  font-weight: 700;
  font-size: rem(19);
  line-height: rem(23);
  margin-left: -1px;
  color: #1f2041;
  margin-top: 33px;
  margin-bottom: 20px;
}
.text6 {
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(24);
  width: 341px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: -2px;
  margin-top: -1px;
  @media screen and (max-width: 330px) {
    width: 250px;
  }
}
.ul {
  display: flex;
  flex-direction: row;
  margin-bottom: -8px;
  @media screen and (max-width: 790px) {
    display: unset;
  }
}
.ul2 {
  margin-left: 110.5px;
  @media screen and (max-width: 826px) {
    margin-left: 80px;
    @media screen and (max-width: 774px) {
      margin-left: 20px;
    }
  }
}

.content1 {
  display: flex;
  margin-bottom: 70px;
  margin-left: 141px;
  @media screen and (max-width: 1290px) {
    flex-wrap: wrap;
    @media screen and (max-width: 570px) {
      flex-wrap: wrap;
      @media screen and (max-width: 620px) {
        margin-left: 50px;
      }

      @media screen and (max-width: 330px) {
        margin-left: 5px;
      }
    }
  }
}
.booking1 {
  width: 750px;
  margin-right: 30px;
}
.bookes {
  margin-top: 70px;
  margin-right: 50px;
  @media screen and (max-width: 1042px) {
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 442px) {
    }
  }
}
.comfort1 {
  margin-top: 27px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  padding-bottom: 17px;
}
.comfort2 {
  margin-top: 30.7px;
  margin-left: 4px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  padding-bottom: 17px;
}
.comfort3 {
  margin-top: 33px;
  margin-left: 5px;
}

.comments {
  margin-top: 25px;
}
.title2 {
  margin-top: 6px;
}
