.toggleButtonCover {
  position: relative;
}

.button {
  position: absolute;
  width: 40px;
  height: 22px;
  border: 1px solid #bc9cff;
  top: 16px;
  left: 0;
  border-radius: 100px;
}

.checkbox {
  display: none;
}

.button:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: #bc9cff;
  border-radius: 10px;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.checkbox:checked + .button:before {
  content: "";
  left: 24px;
  right: 4px;
  background-color: rgba(31, 32, 65, 0.25);
}
.checkbox:checked + .button {
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.toggleText {
  margin-left: 50px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
