@import "../../styles/function.scss";

.goodStart {
  stop-color: rgba(188, 156, 255, 1);
}
.goodEnd {
  stop-color: rgba(139, 164, 249, 1);
}
.excellentStart {
  stop-color: #ffe39c;
}
.excellentEnd {
  stop-color: #ffba9c;
}
.okStart {
  stop-color: rgba(111, 207, 151, 1);
}
.okEnd {
  stop-color: rgba(102, 210, 234, 1);
}

.excellent {
  fill: url(#excellent);
}

.good {
  fill: url(#good);
}

.ok {
  fill: url(#ok);
}

.poor {
  fill: url(#poor);
}
.graph {
  position: relative;
  padding-top: 21px;
  padding-left: 11px;
}
.wrapper {
  position: absolute;
  top: 57px;
  left: 39px;
}
.count {
  font-weight: 700;
  font-size: rem(24);
  line-height: rem(28);
  margin-left: 10px;
  color: #bc9cff;
}
.text {
  font-weight: 700;
  font-size: rem(12);
  line-height: rem(15);

  text-transform: uppercase;

  color: #bc9cff;
}
