@import "../../styles/function.scss";

.navigation {
  color: rgba(31, 32, 65, 0.5);
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-left: 87px;

  @media screen and (max-width: 1270px) {
    margin-left: 20px;
  }
}
.dt {
  font-size: rem(14);
  text-decoration: none;
  list-style: none;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
.dt:before {
  background-image: url("./nav.svg");
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-left: 58px;
  top: 6px;
}
.dt1 {
  font-size: rem(14);
  text-decoration: none;
  list-style: none;
  position: relative;
  cursor: pointer;
}
.dt1[open] .dt1:before {
  transform: rotate(180deg);
}

.dt1:before {
  background-image: url("./nav.svg");
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-left: 97px;
  top: 6px;
}
.text {
  padding-right: 20px;
  white-space: nowrap;
  cursor: pointer;
}
.texts {
  margin-right: 17px;
  margin-left: 25px;
  cursor: pointer;
}
.title {
  margin-right: 20px;
  margin-left: 5px;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}
